/* untuk tablet */
@media (max-width: 1000px) {
	.button {
		height: 60px;
		font-size: 20px;
		margin: 2px;
	}
	
	.calculator {
		top: 130px;
		max-width: 100%;
		margin-right: 8px;
	}
	
	.userInput {
		height: 80px;
		max-width: 100%;
		font-size: 40px;
	}

/* untuk smartphone */
@media (max-width: 670px) {
	.button {
		height: 50px;
		font-size: 14px;
		margin: 2px;
	}
	
	.calculator {
		top: 140px;
		max-width: 100%;
		margin-right: 8px;
	}
	
	.userInput {
		height: 80px;
		max-width: 100%;
		font-size: 38px;
	}
		